@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


:root {
    --btncolor: #7286D3;
    --second: #C7CFED;
}

body {
    font-family: 'Roboto', sans-serif;
}


body a {
    color: #000;
    text-decoration: none;
    transition: 0.5s;
}
  
a:hover,
a:active,
a:focus {
    color: #000;
    outline: none;
    text-decoration: none;
}

.btn {
    background-color: var(--btncolor) !important;
    color: #fff !important;
}

.btn:hover {
    background-color: var(--btncolor);
    color: #fff;
}

.tes {
    border: 2px solid black;
}

/* ===== Navbar ===== */

#nav .logo {
    color: var(--btncolor);
    font-weight: 700;
    font-size: 28px;
}

#nav .navbar-collapse {
    margin-left: 100px;
}

#nav li {
    margin: 0 25px;
}

#nav li a {
    color: #000;
    font-weight: 600;
    font-size: 18px;
}



/* ===== Hero Section ===== */


#hero .hero-section {
    margin: 25px 0;
    background-image: url('../img/waves.png');
    background-position: bottom;
    background-repeat: no-repeat;
}

#hero .hero-section img {
    max-width: 478px;
    height: auto;
}

#hero .hero-content {
    max-width: 500px;
    padding-top: 120px;
}

#hero .slogan {
    font-weight: 800;
    font-size: 48px;
}

#hero .slogan span {
    color: var(--btncolor);
    font-style: italic;
    font-weight: 700;
}

@media (max-width: 800px) {
    #hero .hero-image {
        max-width: 478px;
        height: auto;
    }
}

#brands .brand {
    margin: 25px 0;
    padding: 30px 0;
    background-color: var(--btncolor);
}

#brands .brand-content {
    margin: 0 100px;

}

#brands .brand img {
    margin: 20px 0;
}


/* ===== New Arrivals ===== */

#new-arrivals {
    margin: 60px 0;
}

#new-arrivals .catalog .content {
    margin: 15px 0;
}

#new-arrivals h2 {
    font-size: 28px;
    font-weight: 700;
}

#new-arrivals p {
    margin-top: 8px;
    margin-bottom: 0;
    font-size: 12px;
}

#new-arrivals h4 {
    font-size: 18px;
    font-weight: 700;
}

#new-arrivals .price {
    font-size: 18px;
    font-weight: 500;
}


/* ===== New Arrivals ===== */

#popular {
    margin: 80px 0;
}

#popular .catalog .content {
    margin: 15px 0;
}

#popular h2 {
    font-size: 28px;
    font-weight: 700;
}

#popular p {
    margin-top: 8px;
    margin-bottom: 0;
    font-size: 12px;
}

#popular h4 {
    font-size: 18px;
    font-weight: 700;
}

#popular .price {
    font-size: 18px;
    font-weight: 500;
}


/* ===== Categories ===== */

#categories img {
    border-radius: 10px;
    margin: 20px 0 10px 10px;
}

#categories .img-3,
#categories .img-5 {
    margin-top: 32px;
}

#categories h3 {
    color: #fff;
    font-weight: 700;
    font-size: 28px;
    margin-top: -50px;
    margin-left: 15px;
}

@media (max-width: 600px) {
    #categories img {
        max-width: 350px;
        height: auto;
    }
}

/* ===== Testi ===== */

#testi {
    margin: 60px 0;
    background-color: var(--second);
    padding: 30px 0;
}

#testi .content {
    padding-top: 20px;
    margin: 0 10px;
    border-radius: 10px;
    height: 160px;
    background: linear-gradient(var(--btncolor) 6%, #fff 6% 80%);
}

#testi .user .profile {
    margin-left: -15px;
}

#testi .user .icon {
    max-width: 55px;
    max-height: 30px;
}

#testi .user h5 {
    font-weight: 700;
    font-size: 12px;
}

#testi .city {
    color: #aaa;
    margin-top: -10px ;
    font-size: 12px;
}

#testi .rating {
    max-width: 150px;
    max-height: 20px;
    margin-left: -20px;
}

#testi .comment {
    font-size: 15px;
}

@media (max-width: 400px) {
    #testi .content {
        max-width: 300px;
        margin: 15px  ;
    }
}


/* ===== Footer ===== */

#article {
    margin: 60px 0;
}

#article h2 {
    font-size: 28px;
    font-weight: 700;
}

#article h3 {
    font-weight: 700;
    font-size: 28px;
    margin: 15px 0 0 8px;
    max-width: 300px;
}

#article .catalog p {
    font-weight: 400;
    font-size: 12px;
    margin-left: 8px;
    color: #232323;
}

/* ===== Footer ===== */

#footer {
    background-color: var(--btncolor);
    color: #fff;
    padding-bottom: 50px;
}

#footer .content {
    width: 200px;
}

#footer .content-abt {
    padding-left: 130px;
}

#footer .col {
    margin-top: 50px;
}

#footer h3 {
    font-size: 18px;
    font-weight: bold;
}

#footer hr {
    border: 1px solid #fff;
    height: 2px;
    background-color: #fff;
}

#footer .sosmed {
    max-width: 70px;
}

#footer .email-form {
    padding-right: 45px;
    padding-left: 10px;
    height: 40px;
    border: none;
    border-radius: 10px;
}


#footer input:focus{
    outline: none;
}

#footer .btn-icon{
    border: none;
    margin: -3px 0 0 -40px;
    height: 30px;
    width: 30px;
    background-image: url('../img/Send.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--btncolor);
}

@media (max-width: 1400px) {
    #footer .email-form{
        max-width: 180px;
    }

    #footer .content-abt {
        padding-left: 50px;
    }
}

@media (max-width: 800px) {
    #footer .email-form{
        max-width: 150px;
    }

    #footer .content-abt {
        padding-left: 0;
    }
}